.Error
{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #FF6060;
}

.error404
{
    font-size: 250px;
    font-weight: 900;
    margin-top: 250px;
    margin-bottom: 16px;

}

.Oups
{
    font-size: 36px;

}

.return
{
    margin-top: 100px;
    text-decoration : underline;
}