.Banner
{
    /*align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 95%;*/
    background-position: 50%;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    height: 223px;
    justify-content: center;
    margin: 43px auto;
    max-width: 95%;
    position: relative;
    align-items: center;
    
}

.Imagepaysage
{
    border-radius: 0.8rem;
    filter: brightness(60%);
    height: 180px;
    object-fit: cover;
    position: relative;
    width: 1240px;
}

