.Banner
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 95%;
    
}

.Imagepaysage
{
    border-radius: 0.8rem;
    filter: brightness(60%);
    height: 180px;
    object-fit: cover;
    position: relative;
    width: 100%;
}

