

nav
{
    position: absolute;
    
    left: 75.08%;
    right: 0%;
    top: 25%;
    bottom: 25%;
}


a {
    list-style-type: none;
    color: #FF6060;
    text-decoration: none;
}

.Header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 68px;
    left: 100px;
    top: 40px;

}



.Navigation
{
    display: flex;
    position: relative;
    right: 10%;
}

.Accueil
{


font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
margin-right: 30px;

display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;
}

.APropos
{

margin-left: 30px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;
text-align: right;

color: #FF6060;
}