@import '../../styles/body.scss';

.Basdepage
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: $color-primary;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  &_logo{
    width: 100px;
  }
  &_titre{
    color: $color-primary;
    margin-top: 25px;
  }
}


@media screen and (max-width: 700px) {
  .Basdepage_titre{
    font-size: 12px;
  }
  footer{
    margin-top: 60px;
  }
}

