

.Basdepage
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

.Basdepage_logo
{
  width: 100px;
}

.Basdepage_titre
{
  color: white;
  margin-top: 25px;
}

@media screen and (max-width: 700px) {
  .Basdepage_titre{
    font-size: 12px;
  }
  footer{
    margin-top: 10px;
  }
}

 