$color-primary : #fff;
@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
footer{
   @include flex(column);
    gap: 50px;
    width: 100%;
    height: 209px;
    background-color: #000;
    &_copyright{
        color: $color-primary;
    }
}